# IDE
.idea

# Compose
/vendor/
composer.phar

# phpDocumentor
.phpdoc

# PHPUnit
.phpunit.result.cache
test/unit/_html

PrivateKey.key

# Local development
.lando.yml

BitPay.config.json
**/BitPay.config.json
BitPay.config.yml
**/BitPay.config.yml
